<h1 class="text-center">{{title}}</h1>
<nav>
  <a class="mx-3" routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>